/node_modules
/public/hot
/public/storage
/config/oracle.php
/vendor
/bootstrap/cache/services.php
/bootstrap/cache/*
/.scannerwork/*
/public/.scannerwork/*
.env
.env.testing
.idea/*
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.log