/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #e9d8f4;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li a.active {
    background-color: #58257b;
    font-weight: bold;
    color: white;
  }
  
  li a:hover:not(.active) {
    background-color: #db7093;
    font-weight: bold;
    color: white;
  } */

.navbaradmin {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.navbaradmin:hover:not(.active) {
    background-color: #db7093;
    font-weight: bold;
    color: white;
  }